body {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
}

#game-header {
    text-align: center;
}

#main-section {
    width: 60%;
    display: inline-block;
    padding-right: 5%;
    min-height: 100%;
    background-color: gray;
}

#right-section {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    top: +10px;
    position: relative;
    margin-left: +10px;
    background-color: lightblue;
}

.rps-choice-img {
    height: 200px;
    width: 200px;
    margin:5px;
    display: inline-block;
}


#screen-name {
    width: 100%;
}

.choice-btn {
    display: inline-block;
    width: 125px;
    margin-top: 5px;
}

#btn-play {
    float: right;
}

#btn-spectate {
    float: left;
}

.name-span {
    display: block;
}